﻿.demo-wrapper .rating-text {
    height: 36px;
    width: 100%;
    font-size: 18px;
}

.demo i {
    margin: 0 3px;
    font-size: 48px !important;
}

/** RATINGS **/
.font-size i {
    font-size: 9px !important;
}
