﻿@model AllLogBooksViewModel

@{
    ViewData["Title"] = "AllLogBooks";
    Layout = "_AdminLayout";
}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">All LogBooks</h3>
        <a asp-area="Admin" asp-controller="LogBooks" asp-action="Create" class="btn btn-success add">Add LogBook</a>
    </div>
    <br />
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Establishment</th>
                                        <th>Managers</th>
                                        <th>Tags</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LogBooks)
                                    {
                                        <tr>
                                            <td style="font-weight:bold">@item.LogBookName</td>
                                            <td>@item.EstablishmentName</td>
                                            <td>@string.Join(" / ", item.Managers)</td>
                                            <td>@string.Join(" / ", item.Tags)</td>
                                            <td> @Html.ActionLink("Edit", "Details", "LogBooks", new { id = item.LogBookId }, new { @class = "btn btn-success" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/js/pages/table-data.js"></script>
    <script src="~/js/Admin-area/alllogbooks.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@section css
    {
    <link href="~/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css" />
}
