﻿@model CreateLogBookViewModel
@{
    ViewData["Title"] = "CreateLogBook";
    Layout = "_AdminLayout";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Create New LogBook</h3>
    </div>
    <div id="main-wrapper">
        <!-- Input form -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form asp-controller="LogBooks" asp-action="Create">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@Model.LogBookName"></label>
                                <input asp-for="@Model.LogBookName" id="name" class="form-control" />
                                <span asp-validation-for="@Model.LogBookName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.SelectedEstablishment"></label>
                                <select class="form-control" id="establishment" asp-for="@Model.SelectedEstablishment">
                                    <option disabled selected> -- select an option -- </option>
                                    @if (Model.AllEstablishments != null)
                                    {
                                        foreach (var establishment in Model.AllEstablishments)
                                        {
                                            <option>@establishment</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.SelectedManagers"></label>
                                <select multiple class="form-control" id="managers" asp-for="@Model.SelectedManagers">
                                    @if (Model.AllManagerNames != null)
                                    {
                                        foreach (var manager in Model.AllManagerNames)
                                        {
                                            <option>@manager</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.SelectedTags"></label>
                                <select multiple class="form-control" id="tags" asp-for="@Model.SelectedTags">
                                    @if (Model.AllTags != null)
                                    {
                                        foreach (var tag in Model.AllTags)
                                        {
                                            <option>@tag</option>
                                        }
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary create" name="delete">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="anti-forgery-span">@Html.AntiForgeryToken()</span>

@section scripts
    {
    <script src="~/toastr/toastr.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/Admin-area/createlogbook.js"></script>

}

@section css
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css" />
}


