﻿@model CreateLogBookViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "_AdminLayout";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Edit @Model.LogBookName of @Model.SelectedEstablishment</h3>
    </div>
    <div id="main-wrapper">
        <!-- Input form -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form asp-controller="LogBooks" asp-action="Detail">
                            <div class="form-group">
                                <label asp-for="@Model.LogBookName"></label>
                                <input asp-for="@Model.LogBookName" class="form-control" />
                                <span asp-validation-for="@Model.LogBookName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.SelectedEstablishment"></label>
                                <select class="form-control" asp-for="@Model.SelectedEstablishment">
                                    @if (Model.AllEstablishments != null)
                                    {
                                        foreach (var establishment in Model.AllEstablishments)
                                        {
                                            <option>@establishment</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.SelectedManagers"></label>
                                <select multiple class="form-control" asp-for="@Model.SelectedManagers">
                                    @if (Model.AllManagerNames != null)
                                    {
                                        foreach (var manager in Model.AllManagerNames)
                                        {
                                            <option>@manager</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.SelectedTags"></label>
                                <select multiple class="form-control" asp-for="@Model.SelectedTags">
                                    @if (Model.AllTags != null)
                                    {
                                        foreach (var tag in Model.AllTags)
                                        {
                                            <option>@tag</option>
                                        }
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <a data-redirect="/Admin/Logbooks/AllLogBooks/" data-name="@Model.LogBookName" data-id="@Model.LogBookId" data-ajaxurl="/Admin/LogBooks/Delete/" class="btn btn-danger delete" style="float: right;">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/toastr/toastr.js"></script>

    <script src="~/js/Admin-area/logbookdetails.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@section css
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css" />
}

