﻿@model HomeViewModel
@{
    ViewData["Title"] = "_Establishments";
    Layout = null;
}


@if (Model.Establishments.Count == 0)
{
    <h3 class="text-danger">No Results Found</h3>
}
else
{
    @foreach (var item in Model.Establishments)
    {
        <div class="col-sm-6 col-md-3 mb30">
            <div class="card-overlay">
                <img src="@item.Image" class="img-responsive" alt="">
                <div class="card-hover">
                    <div class="card-content">
                        <h3><a asp-action="Details" asp-area="" asp-controller="Customer" asp-route-id="@item.EstablishmentId">@item.EstablishmentName</a></h3>
                        <ul class="list-inline mb0 rating-list">
                            @{
                                if (item.Rating == 0)
                                {
                                    <li>Not Rated Yet</li>
                                }
                                else
                                {
                                    var rating = (int)Math.Floor(item.Rating);
                                    for (int i = 0; i < rating; i++)
                                    {
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        if (i == rating - 1 && i != 5)
                                        {
                                            if (item.Rating % 1 != 0)
                                            {
                                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                                i++;
                                            }
                                            for (int j = 0; j < 4 - i; j++)
                                            {
                                                <li><i class="fa fa-star-o text-warning"></i></li>
                                            }
                                        }
                                    }
                                }
                            }
                        </ul>
                        <p><i class="fa fa-map-marker"></i> @item.Address</p>
                    </div><!--/card-content-->
                    <div class="card-icons">
                        <a asp-action="Details" asp-area="" asp-controller="Customer" asp-route-id="@item.EstablishmentId" title="View Detail"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
}
       

