﻿@model HomeViewModel

@{
    ViewData["Title"] = "Contact";
    Layout = "_CustomerLayout";
}
<!--fullscreen image-->
<div class="fullscreen-parallax bg-parallax" data-jarallax='{"speed": 0.2}' style='background-image: url(/images/test-header.jpg)'>
    <div class="fullscreen-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <h1>Logc</h1>
                        <p class="mb20">Rate any restaurant or hotel... that we have</p>
                        <form role="form" id="search" asp-action="Search" asp-controller="Home">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control " placeholder="Search for hotel or restaurant" id="term" name="input">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="Submit" id="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gray-bg pt80 pb40">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40" id="places">
                <h2>Places</h2>
            </div>
        </div><!--/row-->
        <div class="row" id="main">
            <div id="establishments">
                @await Html.PartialAsync("_Establishments", Model)
            </div>
        </div>

        <div class="text-center mb30">
            @if (Model.Establishments.Count >= 8)
            {
                <button class="btn btn-lg btn-rounded btn-primary" id="expand">View All Places</button>
            }
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb30">
                <h3>About Us</h3>
                <p>
                    This is the final project of Team Lucky13 for TelerikAcademy .NET Alpha 2019
                </p>
                <ul class="list-inline f-social">
                    <li><a href="https://www.facebook.com/anton.gervaziev"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/anton-gervaziev-6888199a/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li style="margin-left:10px; margin-right:10px"> | </li>
                    <li><a href="https://www.facebook.com/selim.ahmedov"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/selim-ahmedov-1b21a9161/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 mb30">
                <h3>Support Information</h3>
                <p>
                    <small>Address:</small><br>
                    Alexander Malinov 31 Blvd, 1729
                </p>
                <p>
                    <small>Mail Us:</small><br>
                    <a href="#">support@logc.com</a>
                </p>
            </div>
            <div class="col-md-4 mb30">
                <h3>useful links</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="f-links list-unstyled">
                            <li><a href="#">Restaurants</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="f-links list-unstyled">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy & policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
@section scripts {
    <script type="text/javascript" src="~/js/home.js"></script>
}

