﻿@model AllEstablishmentsViewModel

@{
    ViewData["Title"] = "Establishments";
    Layout = "_AdminLayout";
}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">All Establishments</h3>
        <a asp-area="Admin" asp-controller="Establishments" asp-action="Create" class="btn btn-success add">Add Establishment</a>
    </div>
    <br />
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>LogBooks</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Establishments)
                                    {
                                        <tr>
                                            <td style="font-weight:bold">@item.EstablishmentName</td>
                                            <td>@string.Join(" / ", item.LogBookNames)</td>
                                            <td> @Html.ActionLink("Edit", "Details", "Establishments", new { id = item.EstablishmentId }, new { @class = "btn btn-success" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/js/pages/table-data.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@section css
    {
    <link href="~/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css" />
}


