﻿@model CreateEstablishmentViewModel

@{
    ViewData["Title"] = "CreateEstablishment";
    Layout = "_AdminLayout";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Create New Establishment</h3>
    </div>
    <div id="main-wrapper">
        @*<div class="row">*@
        <!-- Input form -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">


                        <form asp-controller="Establishments" data-ajaxurl="/admin/establishments/create" asp-action="Create" id="est-form" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="@Model.Image"></label>
                                <input accept="image/jpg, image/jpeg, image/png" type='file' id="imgInp" asp-for="@Model.Image" class="form-control" />
                                <img id="img" src="~/finder/images/img1.jpg" alt="your image" style="width:80%" />
                                <br />
                                <span asp-validation-for="@Model.Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.EstablishmentName"></label>
                                <input asp-for="@Model.EstablishmentName" class="form-control" id="name" />
                                <span asp-validation-for="@Model.EstablishmentName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.EstablishmentAddress"></label>
                                <input asp-for="@Model.EstablishmentAddress" class="form-control" id="address" />
                                <span asp-validation-for="@Model.EstablishmentAddress" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Details"></label>
                                <textarea asp-for="@Model.Details" rows="6" class="form-control" id="details"></textarea>
                                <span asp-validation-for="@Model.Details" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="anti-forgery-span">@Html.AntiForgeryToken()</span>

@section scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/toastr/toastr.js"></script>
    <script src="~/js/Admin-area/createestablishment.js"></script>
}
@section css
    {
    <link href="~/css/admin-area/createestablishment.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css" />
}