﻿@model EstablishmentDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Edit @Model.EstablishmentName</h3>
    </div>
    <div id="main-wrapper">
        @*<div class="row">*@
        <!-- Input form -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-body">

                        <form runat="server" asp-controller="Establishments" asp-action="Details" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="@Model.Image"></label>
                                <input type='file' id="imgInp" asp-for="@Model.Image" class="form-control" />
                                <img id="img" src="@Model.DisplayImage" alt="your image" style="width:80%" />
                                <br />
                                <span asp-validation-for="@Model.Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.EstablishmentName"></label>
                                <input asp-for="@Model.EstablishmentName" class="form-control" />
                                <span asp-validation-for="@Model.EstablishmentName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.EstablishmentAddress"></label>
                                <input asp-for="@Model.EstablishmentAddress" class="form-control" />
                                <span asp-validation-for="@Model.EstablishmentAddress" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Details"></label>
                                <textarea asp-for="@Model.Details" rows="6" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Details" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Edit</button>
                            <a data-redirect="/Admin/Establishments/AllEstablishments/" data-name="@Model.EstablishmentName" id="deletehg" data-id="@Model.EstablishmentId" data-ajaxurl="/Admin/Establishments/DeleteEstablishment/" class="btn btn-danger delete" style="float: right;">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="anti-forgery-span">@Html.AntiForgeryToken()</span>

@section scripts
    {
    <script src="~/toastr/toastr.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/Admin-area/establishmentdetails.js"></script>
}

@section css
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
    <link href="~/css/admin-area/createestablishment.css" rel="stylesheet" />
}
