﻿@model AllUsersViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Users</h3>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-success add">Add User</a>
    </div>
    <br />
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Role</td>
                                            @if (item.Name != "Admin")
                                            {
                                                <td><a data-success-message="Successfully deleted user @item.Name" data-name="@item.Name" data-ajaxurl="/Admin/Users/Delete/@item.UserId" class="btn btn-danger delete">Delete</a></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/js/pages/table-data.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/Admin-area/allusers.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@section css
    {
    <link href="~/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" type="text/css" />
}
