﻿@model CreateManagerTaskViewModel
@{
    ViewData["Title"] = "_AddTaskPartial";
    Layout = null;
}
<div id="addform">

    <form runat="server" asp-controller="Establishments" asp-action="Details" method="post" enctype="multipart/form-data">
        <div class="form-group modal-body">
            <label asp-for="@Model.Text">@Model.LogBookName New Task</label>
            <textarea rows="6" asp-for="@Model.Text" id="text" class="form-control" style="max-width:100%"></textarea>
            <span asp-validation-for="@Model.Text" class="text-danger"></span>
            <br />
            <select id="assignee">
                <option selected> -- select assignee -- </option>
                @foreach (var item in Model.PossibleAssignees)
                {
                    <option>@item</option>
                }
            </select>

            <select id="priority">
                <option selected> -- select priority -- </option>
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>


            @if (Model.AllTags.Count > 0)
            {
                <div id="select">
                    <br />
                    <div class="form-group">
                        <label>Tags: </label>
                        @foreach (var tag in Model.AllTags)
                        {
                            <button type="button" class="btn btn-outline-secondary">@tag</button>
                        }
                    </div>
                </div>
            }
            <button data-ajaxurl="/Manager/ManagerLogBooks/AddTask/" data-tags="@Model.SelectedTags" data-author="@Model.Author" data-id="@Model.LogBookId" type="submit" class="btn btn-success final">Add</button>
            <button style="float:right" type="button" class="btn btn-danger cancel">Cancel</button>
        </div>
    </form>
</div>
<span id="anti-forgery-span">@Html.AntiForgeryToken()</span>

<script src="~/js/Manager-area/addtask.js"></script>

<link href="~/css/admin-area/createestablishment.css" />

