﻿@model FilterViewModel
@{
    ViewData["Title"] = "_Filter";
    Layout = null;
}

<div class="container">
    <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#collapse">Filter</button>
    <br />
    <div id="collapse" class="collapse">
        <div class="col-md-2">
            <form>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.DateFilter"></label>
                    <input asp-for="@Model.DateFilter" id="name" class="form-control" />
                </div>
                <a data-ajaxurl="/Admin/Tags/Create/" data-name="@Model.AssigneeFilter" id="create" class="btn btn-primary">Create</a>
            </form>
            <br />
        </div>
    </div>
</div>

