﻿@model TaskViewModel
@{
    ViewData["Title"] = "Task";
    Layout = null;
}

<td>@Model.Text</td>
<td>@Model.Author</td>
<td>@Model.Date</td>
<td>@Model.Assignee</td>
<td>@string.Join(" | ", @Model.Tags)</td>
@if (Model.IsDone == false)
{
    <td><a data-id="@Model.TaskId" class="btn btn-warning done">Not Done</a></td>
}
else
{
    <td><a data-id="@Model.TaskId" class="btn btn-success done">Done</a></td>
}

