﻿@model AllTasksViewModel
@{
    ViewData["Title"] = "AllTasks";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="listing-detail-header mb50">
    <div class="container">
        @{
            if (Model.Tasks == null)
            {
                <h2 id="top" class="font300">No Tasks Yet</h2>
                <div class="modal-content">
                    @await Html.PartialAsync("_AddTaskPartial", new CreateManagerTaskViewModel() { LogBookId = Model.LogBookId, LogBookName = Model.LogBookName, PossibleAssignees = Model.PossibleAssignees, AllTags = Model.PossibleTags });
                </div>
            }
            else
            {
                <h2 id="top" class="font300">Tasks for @Model.LogBookName</h2>

                <div class="panel panel-white">
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Task</button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @await Html.PartialAsync("_AddTaskPartial", new CreateManagerTaskViewModel() { LogBookId = Model.LogBookId, LogBookName = Model.LogBookName, PossibleAssignees = Model.PossibleAssignees, AllTags = Model.PossibleTags });
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container filter">
                    @await Html.PartialAsync("_Filter", new FilterViewModel { LogBookId = Model.LogBookId });
                </div>
                <table id="tasks" class="display table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th width="50%">Task</th>
                            <th width="10%">Author</th>
                            <th>Date</th>
                            <th width="8%">Assignee</th>
                            <th>Tags</th>
                            <th width="8%">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tasks)
                        {
                            <tr>
                                @await Html.PartialAsync("_TaskPartial", new TaskViewModel { TaskId = item.TaskId, Author = item.Author, Date = item.Date, IsDone = item.IsDone, Text = item.Text, Tags = item.Tags, Assignee = item.Assignee })
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>

@section scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Manager-area/alltasks.js"></script>

    <script>
        $(".btn").on("click", function (ev) {
            var $element = $(this);
            if ($element.hasClass("btn-outline-secondary")) {
                $element.removeClass("btn-outline-secondary").addClass("btn btn-info");
                return;
            }
            if ($element.hasClass("btn-info")) {
                $element.removeClass("btn-info").addClass("btn-outline-secondary");
            }
        });
    </script>

}
@section css {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
}
