﻿@model AllManagerLogBooksViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="listing-detail-header mb50">
    <div class="container">
        <h2 id="top" class="font300">Your LogBooks</h2>
        <table id="example" class="display table">
            <thead>
                <tr>
                    <th width="50%">LogBook</th>
                    <th width="10%">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LogBooks)
                {
                    <tr>
                        <td><a asp-area="Manager" asp-controller="ManagerLogBooks" asp-action="AllTasks" asp-route-id="@item.LogBookId" style="font-size:20px">@item.LogBookName</a></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Task</button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @await Html.PartialAsync("_AddTaskPartial", new CreateManagerTaskViewModel() { LogBookId = item.LogBookId, LogBookName = item.LogBookName, PossibleAssignees = item.PossibleAssignees, AllTags = item.Tags });
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <script src="~/js/Manager-area/index.js"></script>

    <script>
        $(".btn").on("click", function (ev) {
            var $element = $(this);
            if ($element.hasClass("btn-outline-secondary")) {
                $element.removeClass("btn-outline-secondary").addClass("btn btn-info");
                return;
            }
            if ($element.hasClass("btn-info")) {
                $element.removeClass("btn-info").addClass("btn-outline-secondary");
            }
        });
    </script>

}
