﻿@model AllTagsViewModel

@{
    ViewData["Title"] = "Tags";
    Layout = "_AdminLayout";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Tags</h3>
        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapse">Add Tag</button>
        <br />
        <div id="collapse" class="collapse">
            <div class="col-md-2">
                <form>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.TagName"></label>
                        <input asp-for="@Model.TagName" id="name" class="form-control" />
                    </div>
                    <a data-ajaxurl="/Admin/Tags/Create/" data-name="@Model.TagName" id="create" class="btn btn-primary">Create</a>
                </form>
                <br />
            </div>
        </div>
    </div>
    <br />
    <div id="main-wrapper">
        <div class="row">
            <!-- Input form -->

            <span id="anti-forgery-span">@Html.AntiForgeryToken()</span>
            <!-- Input form -->
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">All Tags</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Tag Name</th>
                                        <th width="20%">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Tags)
                                    {
                                        <tr>
                                            <td>@item.TagName</td>
                                            <td><a data-name="@item.TagName" data-success-message="Successfully deleted tag @item.TagName" data-ajaxurl="/Admin/Tags/DeleteTag/@item.TagId" class="btn btn-danger delete">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/assets/js/pages/table-data.js"></script>
    <script src="~/toastr/toastr.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/Admin-area/alltags.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@section css
    {
    <link href="~/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css" />
}