﻿@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="skcats">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>LOGC - Admin Panel</title>

    <!-- Styles -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="~/assets/plugins/icomoon/style.css" rel="stylesheet">
    <link href="~/assets/plugins/uniform/css/default.css" rel="stylesheet" />
    <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="~/finder/images/favicon.ico" />
    @RenderSection("css", required: false)

    <!-- Theme Styles -->
    <link href="~/assets/css/ecaps.min.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">

</head>
<body>
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar">
            <a class="logo-box" href="@Url.Action("Home")">
                <span>Admin Panel</span>
                <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
                <i class="icon-close" id="sidebar-toggle-button-close"></i>
            </a>
            <div class="page-sidebar-inner">
                <div class="page-sidebar-menu">
                    <ul class="accordion-menu">
                        <li>
                            <a asp-area="Admin" asp-controller="Users" asp-action="AllUsers">
                                <i class="menu-icon fa fa-user-circle-o"></i><span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Establishments" asp-action="AllEstablishments">
                                <i class="menu-icon fa fa-university"></i><span>Establishments</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="LogBooks" asp-action="AllLogBooks">
                                <i class="menu-icon fa fa-book"></i><span>LogBooks</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Tags" asp-action="AllTags">
                                <i class="menu-icon fa fa-tags"></i><span>Tags</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="search-form">
                    <form action="#" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="logo-sm">
                                <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                <a class="logo-box" href="/"><span>Admin Panel</span></a>
                            </div>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <p asp-area="" asp-controller="Manage" asp-action="Index" class="btn navbar-btn ">Hello @UserManager.GetUserName(User).Split("@")[0]!</p>
                                        </li>
                                        <li>
                                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                                        </li>
                                    </ul>
                                </form>
                            }
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div><!-- /Page Header -->
            @RenderBody()
        </div><!-- /Page Content -->
    </div><!-- /Page Container -->
    <!-- Javascripts -->
    <script src="~/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/assets/js/ecaps.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
