﻿@model CustomerCommentViewModel
@{
    ViewData["Title"] = "_CustomerCommentPartial";
    Layout = null;
}

<div class="clearfix review-box mb35">
    <div class="overflow-hidden">
        <span class=" pull-right">@Model.Date</span>
        <ul class="list-inline rating-list mb20">
            @{
                if (User.IsInRole("Moderator"))
                {
                    <li style="align-content:center"><button class="btn btn-success">Edit</button></li>
                    <li ><button id="edit" class="btn btn-danger">Delete</button></li>
                    <br />
                }
                var rating = Model.Rating;
                for (int i = 0; i < rating; i++)
                {
                    <li><i class="fa fa-star text-warning"></i></li>
                    if (i == rating - 1 && i != 5)
                    {
                        for (int j = 0; j < 4 - i; j++)
                        {
                            <li><i class="fa fa-star-o text-warning"></i></li>
                        }
                    }
                }
            }
            <li></li>
            <li></li>

            @if (string.IsNullOrEmpty(Model.Author))
            {
                <li><h5>Anonymous</h5></li>
            }
            else
            {
                <li><h5>by @Model.Author</h5></li>
            }

        </ul>
        <div class="text-box" data-id="@Model.CustomerCommentId" id="@Model.CustomerCommentId">
            @Model.Text
        </div>
    </div>
    <hr />
</div><!--/review-box-->
