﻿@model DetailsViewModel

@{
    Layout = null;
}

<div class="col-sm-8 mb40" id="allreviews">

    <p id="messagesList"></p>

    @if (@Model.CustommerComments != null && @Model.CustommerComments.Count > 0)
    {
        int counter = 0;
        <h3 class="left-title mb25">Reviews</h3>
        <div id="newreview">
            @foreach (var item in Model.CustommerComments)
            {
                if (counter == 5 && Model.CustommerComments.Count > 5)
                {
                    <button class="btn btn-lg btn-rounded btn-primary" id="counter">Show Older</button>
                }
                counter++;
                @await Html.PartialAsync("_CustomerCommentPartial", new CustomerCommentViewModel { Author = item.Author, Date = item.Date, Rating = item.Rating, Text = item.Text })
            }
        </div>
    }
    else
    {
        <h3 class="left-title mb25" id="noreview">No Reviews Yet</h3>
        <div id="newreview">
        </div>

    }
</div>

