﻿@model DetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "_CustomerLayout";
    int EstablishmentId = Model.EstablishmentId;
}


<div class="listing-detail-header mb50">
    <div class="container">
        <h2 class="font300">@Model.EstablishmentName</h2>
        <p><i class="fa fa-map-signs"></i> @Model.Address</p>
        <ul class="rating-list list-inline clearfix">
            @{
                if (Model.Rating == 0)
                {
                    <li>Not Rated Yet</li>
                }
                else
                {
                    var rating = (int)Math.Floor(Model.Rating);
                    for (int i = 0; i < rating; i++)
                    {
                        <li><i class="fa fa-star text-warning"></i></li>
                        if (i == rating - 1 && i != 5)
                        {
                            if (Model.Rating % 1 != 0)
                            {
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                i++;
                            }
                            for (int j = 0; j < 4 - i; j++)
                            {
                                <li><i class="fa fa-star-o text-warning"></i></li>
                            }
                        }
                    }
                }
            }
            @if (@Model.CustommerComments != null && Model.CustommerComments.Count > 0)
            {
                <li>(@Model.CustommerComments.Count)</li>
            }
            <li class="pull-right"><a href="#review" class="link-underline">Submit a Review</a></li>
        </ul>
    </div>
</div>
<div class="container mb30">
    <div class="row">
        <div class="col-sm-8 mb40">
            <img src=@Model.Image alt="" class="img-responsive" />
        </div>

        <div class="col-md-4">
            <h3 class="left-title mb25">About</h3>
            <p>@Model.Details</p>
            <br>
        </div>
    </div>
</div>
<div class="container mb30">
    <div class="row">
        <div class="mb40">
            <h2 class="font300 mb25 text-left"><i class="fa fa-star text-warning"></i> @string.Format("{0:N1}", @Model.Rating)/5 <small>From <a href="#allreviews" class="link-underline">@Model.CustommerComments.Count Reviews</a></small></h2>
        </div>
        <div class="col">
            @await Html.PartialAsync("_ReviewsPartial", Model)
        </div>
        <div class="col-sm-4">

            <form asp-area="" asp-controller="Customer" asp-action="CreateComment" id="review-form">
                <div class="demo-wrapper text-left">
                    <h3 class="left-title mb25" id="review">Submit a Review</h3>
                    <input asp-for="@Model.EstablishmentId" type="hidden" id="establishment-hidden" class="form-control" value="@Model.EstablishmentId" />
                    <div class="form-group">
                        <label asp-for="@Model.AuthorName"></label>
                        <input asp-for="@Model.AuthorName" id="author" type="text" class="form-control" placeholder="John Doe" />
                        <span asp-validation-for="@Model.AuthorName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.ReviewText"></label>
                        <textarea asp-for="@Model.ReviewText" id="text" class="form-control" rows="6" placeholder="Enter Text..."></textarea>
                        <span asp-validation-for="@Model.ReviewText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.ReviewRating" type="hidden" id="rating-hidden" class="form-control" />
                        <label asp-for="@Model.ReviewRating"></label>
                        <span asp-validation-for="@Model.ReviewRating" class="text-danger"></span>
                        <div class="demo" id="stars"></div>
                    </div>
                    <div id="holder"></div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
            <br />
            <br>
        </div>

    </div>
</div>

@section css {

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet">
    <link href="~/css/establishment-details.css" rel="stylesheet">
    <link href="~/css/admin-area/createestablishment.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.profanityfilter.js"></script>
    <script type="text/javascript" src="~/js/establishment-details.js"></script>
}

