﻿@{
    ViewData["Title"] = "Error404";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Finder - Listing</title>
    <!-- plugins -->
    <link href="~/finder/css/bundle.css" rel="stylesheet">
    <link href="~/finder/css/style.css" rel="stylesheet">
</head>
<body class="misc-page">
    <!-- Preloader -->
    <div id="preloader"></div>
    <div class="display-table">
        <div class="vertical-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <div class="error-box">
                            <h1>404</h1>
                            <h2 class="font300">Page Not Found</h2>
                            <p>
                                The page you're looking is not found. Please try later.
                            </p>
                            <a href="/" class="link-underline">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery-->
    <script src="~/finder/js/plugins/all.js"></script>
    <script src="~/finder/js/finder.custom.js"></script>
</body>
</html>


