﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LOGC</title>
    <!-- plugins -->
    @RenderSection("css", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link href="~/finder/css/bundle.css" rel="stylesheet">
    <link href="~/finder/css/style.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/png" href="~/finder/images/favicon.ico" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index" asp-controller="Home" asp-area="" class="navbar-brand"><img src="~/finder/images/logo.png" height="24" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                @await Html.PartialAsync("_LoginPartial")
                <ul class="nav navbar-nav navbar-left">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>  <a asp-area="Admin" asp-controller="Users" asp-action="AllUsers"> Admin Panel </a></li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li>  <a asp-area="Manager" asp-controller="ManagerLogBooks" asp-action="Index"> Log Books </a></li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div id="preloader"></div>
    @RenderBody()
    <script src="~/finder/js/plugins/all.js"></script>
    <script src="~/finder/js/finder.custom.js"></script>
    <script src="~/stars/stars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
