@using Microsoft.AspNetCore.Identity
@using RestaurantLogBook.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a >Hello @UserManager.GetUserName(User).Split("@")[0]!</a>
            </li>
            <li style="margin-right:14px">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
    }
    else
    {
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Log In</a></li>
    </ul>
}
